body {
    background: radial-gradient(at center bottom, rgb(0, 37, 52) 0%, rgb(9, 10, 15) 100%);
    background-size: 1000px 1000px;
}

.notes_box {
    margin-top: 150px;
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.note {
    width: 550px;
    height: 150px;
    border: 2px solid #1bd32e;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    transition: all 0.5s;
    margin-top: 15px;
}

.note:hover {
    transition: all 0.5s;
    border: 2px solid #d30849;
}

.circle-out {
    margin-top: 25px;
    margin-left: 20px;
    position:relative;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 1px solid #76d38f;
    background: transparent;
    overflow: hidden;
}
.circle-in {
    position: absolute;
    width: 90px;
    height: 90px;
    margin: 4px;
    border-radius: 50%;
    border: 1px solid #417a51;
    background: radial-gradient(at center bottom, rgb(0, 37, 52) 0%, rgb(9, 10, 15) 100%);
    text-align: center;
    vertical-align: center;
    line-height: 55px;
    color: white;
    font-family: "Comic Sans MS";
}
.progress {
    height: 110px;
    width: 220px;
    background: transparent;
    position: absolute;
    top:-110px;
    left: -60px;
    transform: rotate(30deg);
    transform-origin: 110px 110px;
    transition: all .3s;
}

.note_info {
    margin-top: 15px;
    margin-left: 5px;
    font: 21px/32px SBSansInterface,OpenSans,Helvetica Neue,Helvetica,Arial,sans-serif;
    color: white;
    width: 350px;
}

.note_header, .note_deadline {
    position: relative;
    font: 21px/32px SBSansInterface,OpenSans,Helvetica Neue,Helvetica,Arial,sans-serif;
    margin-top: 0;
    left: 70%;
    white-space: nowrap;
    display:inline-block;
    border-bottom:2px solid rgba(18, 211, 123, 0.7);
    padding-bottom: 4px;
    height: 25px;
}

.note_header:hover, .note_deadline:hover {
    border-bottom:2px solid rgba(211, 8, 73, 0.7);
}

.note_service {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.note_func {
    font: 16px SBSansInterface,OpenSans,Helvetica Neue,Helvetica,Arial,sans-serif;
    margin-top: 0;
    margin-left: 15px;
    text-shadow: 1px 1px 1px black, 0 0 1em #12d37b;
}

.note_func:hover {
    text-shadow: 1px 1px 1px black, 0 0 1em #d30849;
}